#{extends 'main.html' /}
#{set title:'Home' /}

<div id="admin" class="container">
    #{adminNav /}
    <div id="content">
        <div id="admin-container">
            #{list items:books, as:'book'}
                <div class="span4">
                    <a class="adminAction" href="@{Admin.book(book.id)}">
                        <h3>${book.name}</h3>
                        #{if book.pictureHash != 0}
                            <img src="@{Pictures.showThumb(book.pictureHash)}" />
                        #{/if}
                    </a>
                </div>
            #{/list}
        </div>
    </div>
</div>