<h2>Manage page ${p}</h2>

<h3>Sentences :</h3>
#{list items:sentences, as:'sentence'}
  <li><a class="adminPage" href="@{Admin.sentence(sentence.id)}">${sentence}</a></li>
#{/list}
<form class="adminCallback" data-callback="@{Admin.sentence(sentence.id)}" action="@{Admin.submitSentence}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <input type="hidden" name="id" value="${page.id}" />
    <input type="submit" class="btn btn-success primary" value="Add a sentence"/>
</form>

<h3>Upload up to 3 pictures :</h3>
<form class="uploadForm" action="@{Admin.uploadPagePicture}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <input type="hidden" name="id" value="${page.id}" />
    <input type="hidden" name="pos" value="1" />
    <input type="file" name="picture" onchange="App.upload(this.form)" />
</form>
<form class="uploadForm" action="@{Admin.uploadPagePicture}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <input type="hidden" name="id" value="${page.id}" />
    <input type="hidden" name="pos" value="2" />
    <input type="file" name="picture" onchange="App.upload(this.form)" />
</form>
<form class="uploadForm" action="@{Admin.uploadPagePicture}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <input type="hidden" name="id" value="${page.id}" />
    <input type="hidden" name="pos" value="3" />
    <input type="file" name="picture" onchange="App.upload(this.form)" />
</form>

<a href="@{Admin.deletePage(page.id)}" class="btn btn-danger primary">Delete page</a>