<h2>Manage a sentence</h2>

<form action="@{Admin.updateSentence}">
    <input type="hidden" name="id" value="${sentence.id}">
    <table>
        <tbody>
            <tr><th><label>Text : </label></th><td><input type="text" name="text" value="${sentence != null ? sentence.text : ''}"></td></tr>
            <tr>
                <td>
                    <input type="submit" value="Save" class="btn primary btn-success">
                </td>
            </tr>
        </tbody>
    </table>
</form>

<h3>Upload audio :</h3>

<form class="uploadForm" action="@{Admin.uploadAudio}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <input type="hidden" name="id" value="${sentence.id}" />
    <input type="file" name="audio" onchange="App.upload(this.form)" />
</form>