body,html{margin:0;padding:0;background:url('/public/images/background.png');}
#book{width:988px;height:550px;position:relative;margin-left:auto;margin-right:auto;background:url('/public/images/book.png');}
