#{extends 'main.html' /}
#{set title:'Home' /}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <ul class="nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Languages <b class="caret"></b></a>
          <ul class="dropdown-menu">
            #{list items:languages, as:'language'}
                <li><a href="@{Application.index(language.name)}">${language}</a></li>
            #{/list}
          </ul>
        </li>
      </ul>
      <a class="brand" href="@{Application.index}">Mudiad Meithrin Books</a>
    </div>
  </div>
</div>

<div id="book">
    <a href="#" class="btn prevPage">« Previous Page</a>
    <a href="#" class="btn nextPage">Next Page »</a>

	<div id="pages">
        %{int pageCount = 0}%
        #{list items:pages, as:'page'}
            <section style="z-index: 2;">
                <div id="page-${pageCount}" class="page lazyLoad" data-url="@{Application.page(page.id)}"></div>
            </section>
        %{pageCount++}%
        #{/list}
	</div>
</div>


<div id="audio" class="jp-jplayer"></div>
<div id="audio-container" class="jp-audio">
    <div class="jp-type-playlist">
        <div class="jp-gui jp-interface">
            <ul class="jp-controls">
                <li><a href="javascript:;" class="jp-previous" tabindex="1">previous</a></li>
                <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                <li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>
                <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
                <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
            </ul>
            <div class="jp-progress">
                <div class="jp-seek-bar">
                    <div class="jp-play-bar"></div>
                </div>
            </div>
            <div class="jp-volume-bar">
                <div class="jp-volume-bar-value"></div>
            </div>
            <div class="jp-time-holder">
                <div class="jp-current-time"></div>
                <div class="jp-duration"></div>
            </div>
            <ul class="jp-toggles">
                <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
                <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
            </ul>
            <div class="pagination">
                <ul>
                  %{int p = 0}%
                  #{list items:pages, as:'page'}
                      %{p++}%
                      <li><a class="goTo" href="javascript:;" data-page="${p}">${p}</a></li>
                  #{/list}
                </ul>
            </div>
        </div>
    </div>
</div>