#{if page.pictureHash1 != 0}
    <img class="thumbnail" src="@{Pictures.showThumb(page.pictureHash1)}" />
#{/if}
#{if page.pictureHash2 != 0}
    <img class="thumbnail" src="@{Pictures.showThumb(page.pictureHash2)}" />
#{/if}
#{if page.pictureHash3 != 0}
    <img class="thumbnail" src="@{Pictures.showThumb(page.pictureHash3)}" />
#{/if}

%{int sentenceCount = 0}%
#{list items:sentences, as:'sentence'}
    <span id="${sentenceCount}" class="lazyLoad sentence" data-audio="@{Application.audio(sentence.id)}">${sentence.text}</span>
%{sentenceCount++}%
#{/list}